.owl-carousel-progressbar {
  position: relative;
  height: 2px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.owl-carousel-progressbar span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2px;
  max-width: 100%;
  border-radius: 5px;
  background-color: #313131;
  transition: margin-left 0.25s ease-in-out;
}
